@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--color-zinc-100);
  color: var(--color-neutral-900);
  font-family: var(--font-geist-sans);
}
